main {
  margin-top: 80px;
  width: 100%;
}

.main__body {
  padding: 0 5%;
}

@media screen and (min-width: 992px) {
  .main__body {
    padding: 1rem 15%;
  }
}

.cart__item-count {
  width: 3rem;
}
.cart__item-rm {
  background-color: transparent;
  border: none;
}
